body{
    background-color: rgb(5, 5, 95);
    color: white;
    font-family: VarelaRound-Regular;
}
hr{
    background-color: white;
}

#quadradoVermelho{
    height: 10px;
    width: 10px;
    background-color: red;
}